<div class="container" >
  <h1>TABLA SOLICITUDES</h1>
  <div class="row g-3">
    <div class="col-auto">
      <button routerLink="/add" type="button" class="btn btn-primary bi bi-plus-circle-fill"></button>
    </div>
    <div class="col ">
      <input class="form-control mb-3"  type="text"  placeholder="Buscar.."  [(ngModel)]="filterSolicitud" name="filterSolicitud"  role="search"  placeholder="Buscar" aria-label="Search">
    </div>
  </div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Nombre</th>
          <th scope="col">Asunto</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Estado</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of ListSolicitud | filterSolicitud:  filterSolicitud; let i = index ">
          <td>{{solicitud.fecha}}</td>
          <th>{{solicitud.solicitante}}</th>
          <td>{{solicitud.asunto}}</td>
          <td>{{solicitud.nombre}}</td>
          <td>
                <span *ngIf="solicitud.id_estado ==1 else elseBlock" class="badge text-bg-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </span>
                <ng-template #elseBlock>
                  <span class="badge text-bg-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg></span>
                </ng-template>
          </td>
          <td>
              <button routerLink="/edit/{{solicitud.solicitud_id}}" type="button" class=" btn btn-outline-warning bi bi-pencil-square"></button>
          </td>
          <td>
              <button (click)="confirmS(solicitud.solicitud_id, i)" type="button" class="btn btn-outline-danger bi bi-x-circle"></button>
          </td>
        </tr>
      </tbody>
   </table>
</div>
<div class="container" >
  <h1>TABLA PROVEEDORES</h1>
  <div class="row g-3">
    <div class="col-auto">
      <button routerLink="/addP" type="button" class="btn btn-primary bi bi-plus-circle-fill"></button>
    </div>
    <div class="col ">
      <input class="form-control me-2 d-flex"  type="text"  placeholder="Buscar.."  [(ngModel)]="filterProveedor" name="filterProveedor"  role="search"  placeholder="Buscar" aria-label="Search">
    </div>
  </div>
      <table class="table">
        <thead>
          <tr >
            <th scope="col">Nombre</th>
            <th scope="col">RNC</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Correo</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of  ListProveedor | filterProveedor: filterProveedor; let i = index">
            <td>{{proveedor.nombre}}</td>
            <th>{{proveedor.rnc}}</th>
            <td>{{proveedor.tel}}</td>
            <td >{{proveedor.direccion}}</td>
            <td>{{proveedor.correo}}</td>
              <td>
                <button routerLink="/editP/{{proveedor.proveedor_id}}" type="button" class=" btn btn-outline-warning bi bi-pencil-square"></button>
            </td>
            <td>
                <button (click)="confirmP(proveedor.proveedor_id, i)" type="button"  class="btn btn-outline-danger bi bi-x-circle"></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>


